<div>
    <div layout="row" layout-wrap layout-align="space-between end">
        <div layout="row" layout-align="center center">
            <md-button class="md-raised md-fab md-mini md-primary" aria-label="New" ng-click="vm.addTask()">
                <md-icon md-svg-src="/images/add.svg"></md-icon>
            </md-button>
            <md-button class="md-raised md-fab md-mini" aria-label="Refresh" ng-click="vm.loadTasks()">
                <md-icon md-svg-src="/images/refresh.svg"></md-icon>
            </md-button>
            
            <md-button class="md-mini" 
                    aria-label="Remove done tasks" 
                    confirm-click 
                    dialog-title="Are you sure that you want to permanently delete all tasks done?" 
                    dialog-message="There is no coming back."
                    ng-click="vm.deleteAllDoneTasks()"
                    ng-hide="true">
                Remove done tasks
            </md-button>
        </div>
        <div layout="row" layout-align="center center" style="padding-right: 10px">
            <md-checkbox ng-model="vm.hideDoneTasks" aria-label="Hide done tasks">Hide done tasks</md-checkbox>
        </div>
    </div>
   
    <md-autocomplete 
            md-search-text="searchText" 
            md-items="task in vm.filter(searchText)" 
            md-item-text="task.title"
            placeholder="Enter a search term...">
        <md-item-template>
            <span md-highlight-text="searchText">{{ task.title }}</span>
        </md-item-template>
        <md-not-found>
            No task found.
        </md-not-found>
    </md-autocomplete>
</div>

<md-list>
    <md-list-item class="md-2-line" ng-click="doSomethingElse()" ng-repeat="task in vm.taskList | orderBy:['dueDate','title'] | filter: searchText || '' | filter: (vm.hideDoneTasks || '') && {isDone: false}">
        <!--<task-list-item id="{{task.id}}" title="{{task.title}}" dueDate="{{task.dueDate}}" isDone="{{task.isDone}}"></task-list-item>-->
        <!--ng-style="{'background-color': vm.getColor(task) }">-->
        <md-checkbox ng-model="task.isDone" ng-change="vm.isDoneChanged(task)"></md-checkbox>
        <div class="md-list-item-text">
            <h3>{{ task.title }}</h3>
            <p>Due to: {{ task.dueDate | date }}</p>
        </div>
        <div class="md-list-item-text" style="text-align: right;">
            
            <md-button class="md-fab md-mini" aria-label="Edit" ng-disabled="task.isDone" ng-click="vm.editTask(task)">
                <md-icon md-svg-src="/images/edit.svg"></md-icon>
            </md-button>
            
            <md-button class="md-fab md-mini md-warn" 
                       aria-label="Remove"
                       confirm-click 
                       dialog-title="Are you sure you want delete this task?" 
                       dialog-message="This action can't be undone."  
                       ng-disabled="task.isDone"
                       ng-click="vm.deleteTask(task)">
                <md-icon md-svg-src="/images/delete.svg"></md-icon>    
            </md-button>
        </div>
    </md-list-item>
</md-list>